# Problem 1 
Seaborn kütüphanesi içerisinden Titanic veri setini tanımlayınız.

In [3]:
# 1.Problemin Çözümünü Buraya Yazınız
import seaborn as sns

titanic = sns.load_dataset("titanic")
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

# Problem 2
Titanic veri setindeki kadın ve erkek yolcuların sayısını bulunuz.

In [4]:
# 2.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
gender = titanic['sex'].value_counts()
print(gender)

sex
male      577
female    314
Name: count, dtype: int64

# Problem 3
Her bir sutuna ait unique değerlerin sayısını bulunuz.

In [5]:
# 3.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
uniqueValue = titanic.nunique()
print(uniqueValue)

survived         2
pclass           3
sex              2
age             88
sibsp            7
parch            7
fare           248
embarked         3
class            3
who              3
adult_male       2
deck             7
embark_town      3
alive            2
alone            2
dtype: int64

# Problem 4
pclass değişkeninin unique değerlerinin sayısını bulunuz.

In [7]:
# 4.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
uniquePclass = titanic['pclass'].nunique()
print(uniquePclass)

3

# Problem 5
pclass ve parch değişkenlerinin unique değerlerinin sayısını bulunuz

In [8]:
# 5.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
uniquePclass = titanic['pclass'].nunique()
uniqueParch = titanic['parch'].nunique()
print(uniquePclass)
print(uniqueParch)

3
7

# Problem 6
embarked değişkeninin tipini kontrol ediniz. Tipini category olarak değiştiriniz ve tekrar kontrol ediniz.

In [10]:
# 6.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
print("Embarked değişkeninin tipi", titanic['embarked'].dtype)
titanic['embarked'] = titanic['embarked'].astype('category')
print("Embarked değişkeninin tipi category olarak değiştirildi: ",titanic['embarked'].dtype)

Embarked değişkeninin tipi object
Embarked değişkeninin tipi category olarak değiştirildi:  category

# Problem 7
embarked değeri C olanların tüm bilgilerini gösteriniz.

In [11]:
# 7.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
embarkedC = titanic[titanic['embarked'] == 'C']
print(embarkedC)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1           1       1  female  38.0      1      0  71.2833        C   First
9           1       2  female  14.0      1      0  30.0708        C  Second
19          1       3  female   NaN      0      0   7.2250        C   Third
26          0       3    male   NaN      0      0   7.2250        C   Third
30          0       1    male  40.0      0      0  27.7208        C   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
866         1       2  female  27.0      1      0  13.8583        C  Second
874         1       2  female  28.0      1      0  24.0000        C  Second
875         1       3  female  15.0      0      0   7.2250        C   Third
879         1       1  female  56.0      0      1  83.1583        C   First
889         1       1    male  26.0      0      0  30.0000        C   First

       who  adult_male deck embark_town alive  alone
1    woman       False    C   Cherbourg   yes  False
9    child       False  NaN   Cherbourg   yes  False
19   woman       False  NaN   Cherbourg   yes   True
26     man        True  NaN   Cherbourg    no   True
30     man        True  NaN   Cherbourg    no   True
..     ...         ...  ...         ...   ...    ...
866  woman       False  NaN   Cherbourg   yes  False
874  woman       False  NaN   Cherbourg   yes  False
875  child       False  NaN   Cherbourg   yes   True
879  woman       False    C   Cherbourg   yes  False
889    man        True    C   Cherbourg   yes   True

[168 rows x 15 columns]

# Problem 8
embarked değeri S olmayanların tüm bilgelerini gösteriniz.

In [12]:
# 8.Problemin Çözümünü Buraya Yazınız
import seaborn as sns 
titanic = sns.load_dataset("titanic")
embarked_except_S = titanic[titanic['embarked'] == 'S']
print(embarked_except_S)

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
6           0       1    male  54.0      0      0  51.8625        S   First
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
883         0       2    male  28.0      0      0  10.5000        S  Second
884         0       3    male  25.0      0      0   7.0500        S   Third
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
6      man        True    E  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
883    man        True  NaN  Southampton    no   True
884    man        True  NaN  Southampton    no   True
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False

[644 rows x 15 columns]

# Problem 9

Yaşı 30 dan küçük ve kadın olan yolcuların tüm bilgilerini gösteriniz.

In [16]:
# 9.Problemin Çözümünü Buraya Yazınız
import seaborn as sns
titanic = sns.load_dataset("titanic")
young_lady = titanic[(titanic['age'] <30) & titanic['sex'] == 'female']
print(young_lady)

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

# Problem 10
Fare'i 500'den büyük veya yaşı 70’den büyük yolcuların bilgilerini gösteriniz

In [18]:
# 10.Problemin Çözümünü Buraya Yazınız
import seaborn as sns 
titanic = sns.load_dataset("titanic")
fare_or_age_criteria_passengers = titanic[(titanic['fare']> 500) | titanic['age']>70]
print(fare_or_age_criteria_passengers)

Empty DataFrame
Columns: [survived, pclass, sex, age, sibsp, parch, fare, embarked, class, who, adult_male, deck, embark_town, alive, alone]
Index: []

# Problem 11
Her bir değişkendeki boş değerlerin toplamını bulunuz.

In [19]:
# 11.Problemin Çözümünü Buraya Yazınız
import seaborn as sns 
titanic = sns.load_dataset("titanic")
missing_values = titanic.isnull().sum()
print(missing_values)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64